.mySwipervideo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 30px;
    @media (max-width:768px) {
        margin: 0;
        .swiper-button-prev{
            left: 0 !important;
        }
        .video-dux iframe{
            margin: 0 0 0 -5px !important;
        }
    }
}

.product-option{
    img{
        width: 100%;
    }
}
.product{
    text-align: center;
    color: $primary-color;
    // position: absolute;
    bottom: 30px;
    width: 100%;
    margin: 0 auto 20px;
    // font-weight: bold;
    @media (max-width:768px) {
        bottom: 0;
    }
}

.product-description{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    img{
        width: 100%;
        max-width: 150px;
        // margin: 30px 0;
    }
    .pd-main-title{
        color: $primary-color;
        margin: 30px 0;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .pd-main-paragraph{
        margin: 30px 0;
        font-size: 1.5rem;
        color: $greyColor;
    }
    .product-item{
        margin: 60px 0;
        img{
            max-width: 100%;
            @media (max-width:768px) {
                margin: 30px 0;
            }
        }
        .pi-sub-title{
            color: $secondary-color;
        }
        .pi-paragraph{
            color: $greyColor;
        }
    }
    
    &__show{
        display: flex;
    }
}

.duxSection-certf{
    &--pink{
        background-color: $pinkColor !important;
        padding: 30px;
        color: #fff !important;
        .title-doted{
            color: #fff;
        }
        .text-desc{
            color: #fff !important;
        }
        .title-doted{
            &:before{
                content: "" !important;
            }
            &:after{
                content: "" !important;
            }
        }
    }
}
header{
    .logo-header{
        max-width: 200px;
    }
    .padding-menu{
        padding: 30px 0;
    }
    nav{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .main-menu{
        @media (min-width:786px) {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 15px 0;
            font-weight: 600;
        }
    }
    .item-menu{
        a{
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.main-banner{
    .banner-img{
        width: 100%;
    }
}

.title-doted{
    &--new{
        color: $primary-color;
        &:before{
            content: "" !important;
        }
        &:after{
            content: "" !important;
        }
    }
}

.video-dux{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

    iframe{
        height: 300px;
        width: 50%;

        @media (max-width:768px) {
            width: 75%;
            margin: 0 0 0 -30px;
        }
    }
}

.social{
    ul{
        display: flex;
        list-style: none;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 60px 0 ;
        li{
            margin: 0 15px;
            a{
                color: $primary-color;
            }
        }
    }
}

.produtos-funcoes{
    .col-md-4{
        margin: 0;
        padding: 0 8px 0 0;
    }

}
.img-depoimento-circle{
    margin: 0 15px !important;
}
.cta-little{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 1px;
    background: #0a4792;
    background: linear-gradient(87deg, #999798, #bbb7b9 46%, #d3d3d3 100%);
    color: #fff;
    width: 40%;
    margin: 20px auto 60px;
    text-transform: uppercase;
    box-shadow: 0 15px 15px 5px #ccc;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: $text-light-color;
    }
}

.voltarTopo{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    @media (max-width:768px) {
        align-items: center;
        justify-content: center;
    }
    .subir{
        position:fixed;
        bottom:0px;
        right:0px;
        @media (max-width:768px) {
            position:relative;
        }
        i{
            font-size: 42px;
            color: $pinkColorStrong;
        }
    }
}



.hover-img {
    background-color: #fff;
    color: $text-light-color;
    display: inline-block;
    margin: 8px;
    max-width: 485px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
 
    border-radius: 0 20px 20px 0;
    span{
        padding:  0 20px;
    }
  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .hover-img:before,
  .hover-img:after {
    // background-color: rgba(19, 94, 163, 0.51);
    //background: linear-gradient(211deg, rgba(49,177,222,0.55) 0%, rgba(255,255,255,0.55) 39%, rgba(255,255,255,0.55) 56%, rgba(245,69,167,0.5522584033613445) 100%);
    background: linear-gradient(211deg, rgba(17,68,127,1) 0%, rgba(19,94,163,0.55) 46%, rgba(255,255,255,0.35) 75%, rgba(219,17,129,1) 100%);
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover:before,
  .hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.7;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }

  @media (max-width:768px) {
    .hover-img:before,
    .hover-img:after {
    opacity: 0.7; 
  }
  .hover-img figcaption {
    opacity: 1;
  }
   
}

  .menu {
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
  
  .hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }
  
  .hamburguer:before,
  .hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  
  .hamburguer:before {
    top: -10px;
  }
  
  .hamburguer:after {
    bottom: -10px;
  }
  
  input {
    display: none;
  }
  
  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }
  
  input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
  }
  
  input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
  }


  @media (max-width:768px) {
    .cta-default{
        margin: 15px 0 !important;
    }
  }