// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin btn-default($color-default){
    // display: block;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 15px 90px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid $color-default;
    background: $color-default;
    color: #fff;
    @media(max-width: 991px){
        font-size: 1.3rem;
        
    }
    @media(max-width: 576px){
        padding: 15px 60px;
        
    }
    &:hover{
        border: 1px solid $color-default;
        border-radius: 10px;
        background-color: #fff;
        color: $color-default;
        text-decoration: none;
    }   

    @content;  
}
